<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat Code Coverage">
        <Configuration>
          <Format>cobertura</Format>
          <OutputDirectory>./TestResults</OutputDirectory>
          <OutputName>coverage.cobertura.xml</OutputName>
          <ExcludeByFile>**/Migrations/*.cs</ExcludeByFile>
          <Exclude>[SelfResearch.UserManagement.API]Program</Exclude>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>
